* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  margin: 0px auto;
}
body {
  background: #e5e5e5;
}
header {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}
#logo {
  display: block;
  margin: 0px;
}

.text-input {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #0a3871;
  background: white;
  border: 0;
  outline: none;
  resize: none;
  width: 100% !important;
  height: 400px !important;
  border-radius: 10px;
  padding: 20px;
}

#divImgen {
  position: relative;
}

#img {
  margin: auto;
}

.imgInfo {
  position: absolute;
  left: 120px;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #495057;
}

.label-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: red;
  opacity: 0.8;
}

form {
  width: 68%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

section.form-box {
  display: flex;
  gap: 2%;
  max-width: 800px;
  width: 100%;
}
section.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#divImagen picture,
div#divImagen picture img,
div#divImagen picture source {
  width: 100%;
}

#botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  gap: 24px;
  width: 100%;
}

#btn-encriptar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  line-height: 1;
  height: auto;
  background: #0a3871;
  border-radius: 24px;
  cursor: pointer;
  flex: auto;
}

.btn {
  width: 280px;
  height: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 1;
}

#btn-desencriptar {
  gap: 8px;
  width: 50%;
  background: #d8dfe8;
  border: 1px solid #0a3871;
  order: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  line-height: 1;
  height: auto;
  border-radius: 24px;
  cursor: pointer;
  flex: auto;
}

.btn2 {
  width: 280px;
  height: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0a3871;
  flex: none;
  order: 0;
  flex-grow: 1;
}

#cajaRespuesta {
  width: 30%;
  justify-content: center;
  justify-items: center;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgb(0 0 0 / 13%);
  border-radius: 10px;
}

#divImagen .texto1 {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: auto;
}

#divImagen .texto2 {
  width: 100%;
  height: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #495057;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: auto;
}

#msg {
  visibility: hidden;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  border: 0;
  outline: none;
  color: #495057;
  height: 100%;
  resize: none;
}

#btn-copy {
  visibility: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 12px;
  gap: 8px;
  width: 100%;
  height: auto;
  cursor: pointer;
  border: 1px solid #0a3871;
  border-radius: 24px;
}

.btn3 {
  width: 288px;
  height: 19px;
  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #0a3871;
  flex: none;
  order: 0;
  flex-grow: 1;
}

footer {
  /* position: absolute; */
  font-family: "Press Star 2p", cursive;
  width: 100%;
  font-size: 18px;
  bottom: 0;
  text-align: center;
}
div#botonCopiar {
  padding: 20px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
/*Phone Cell*/

@media screen and (max-width: 400px) {
  section.form-box {
    flex-direction: column;
    width: 90%;
  }

  form {
    width: 100%;
    gap: 10px;
  }

  section#cajaRespuesta {
    width: 100%;
  }
  header {
    padding: 20px 0px;
  }
  .info {
    font-size: 14px;
  }
  #botones {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  #btn-encriptar,
  #btn-desencriptar,
  #btn-copy {
    padding: 12px;
    width: 100%;
  }
  section.content {
    justify-content: flex-start;
  }
  #msg {
    max-height: 400px;
    height: 300px;
  }
}
